button{
    background-color: black;
	color: white;
	padding: 13px 50px;
	border: none;
	font-weight: 300;
	font-size: small;
	letter-spacing: 2px;
}
button:hover{
	background-color: rgb(46, 46, 46);
}

.checkout{
    display: flex;
    height: 100%;
}
.checkout-form,.confirm-box {
	width: 70%;
	height: 100%;
	/* border: 1px solid gray; */
}
form {
	width: 80%;
	/* height: 85vh; */
	margin: 0 auto;
	padding:20px;
}

.checkout-cart{
	width: 30%;
	height: 100vh;
	border-left: solid gray;
    padding: 10px;
}

#checkout-ck{
	text-align: center;
	margin-top: 50px;
	font-size: xx-large;
	color: grey;
}


.checkout_input {
	position: relative;
}

.checkout_input input,
.checkout_input select
{
	padding: 4px 10px;
	padding-top: 8px;
	border: 1.8px solid rgba(107, 107, 107, 0.4);
	border-radius: 3px;
	width: 90%;
	color: black;
	margin:12px;
}
.input{
	display:inline;
	width:50%;
}

.checkout_input input:focus,
.checkout_input select:focus
{
	border: 2px solid rgb(172, 1, 153);
	outline: none;
}

.checkout_input span {
	pointer-events: none;
	opacity: 0.5;
	position: absolute;
	padding-left: 20px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: text;
}

.checkout_input input:focus + span,
.checkout_input select:focus + span,
.checkout_input input:not(:placeholder-shown) + span,
.checkout_input select:not(:placeholder-shown) + span
{
	top: 7px;
	-webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
	transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.checkout_input input,.checkout_input select,
.checkout_input span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
form h3{
	margin:10px;
	font-size:larger;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px 70px 70px 70px 70px;
}
#grid1{
	grid-row-start:1;
	grid-column-start:1;
	grid-column-end:3;
}
#full_line{
	width:95%;
}
#grid2 {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}
#grid3 {
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}
#grid4 {
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}
#grid5 {
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}
#grid6 {
	grid-row-start: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}
#grid7 {
	grid-row-start: 5;
	grid-column-start: 1;
	grid-column-end: 3;
}
.placeorder_button_box {
	display: flex;
	padding: 14px;
	justify-content: end;
}

table {
	border: 1px solid lightgrey;
	border-collapse: collapse;
	background-color:white;
	margin:0 auto;
	margin-top:110px;
}
td {
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	padding: 15px;
}
.table-grey{
	color:grey;
}

.cart-container{
	width: 100%;
}
h1 .heading{
	text-align: center;
}
body .cart-container{
	display: flex;
		justify-content: center;
}

.cart-body{
	text-align: center;
}